.close {
color: #aaa;
/* float: right; */
font-size: 28px;
font-weight: bold;
}
.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

.modal-view {
display: none;
position: fixed;
z-index: 100;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
backdrop-filter: blur(5px);
overflow: auto;
}
.modal-view p, .modal-view h2 {
    color: white;
}
.modal-view.hide{
    display: none;
}

.modal-view.show{
    display: flex;
}

.modal-content {
backdrop-filter: blur(5px); /* Applies blur background */
background-color: white;
margin: auto;
/* margin-top: 10%; */
padding: 20px;
border: 1px solid #888;
width: 80%;
overflow: auto;
}

.modal-content img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.embed-repsonsive {
    width: 560px;
    height: 315px;
}

@media (max-width: 600px){
    .embed-repsonsive {
        width: 400px;
        height: 200px;
    }
}
