.close {
color: #aaa;
/* float: right; */
font-size: 28px;
font-weight: bold;
}
.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

.modal-view {
/* display: none; */
position: fixed;
z-index: 100;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
backdrop-filter: blur(5px);
/* overflow: auto; */
}

.modal-content {
backdrop-filter: blur(5px); /* Applies blur background */
background-color: white;
}
