.movie-card {
    border: 1px solid black;
    border-radius: 13px;
    width: 250px;
}

.movie-backdrop {
    width: 250px;
    height: 400px;
    border-radius: 13px 13px 0px 0px;
    object-fit: cover;
}
